# Databases

In [1]:
# import psycopg2 as pg
# import mariadb
import mysql.connector as mariadb

## MariaDB

In [2]:
user = 'movie'
password = 'password'
host = 'localhost'
dbname = 'dbmovie'
port = 3307

In [86]:
conn = mariadb.connect(host=host, port=port, db=dbname, user=user, password=password)
conn

In [25]:
sql_movies_10first = "SELECT * FROM movie LIMIT 10"

In [26]:
cur = conn.cursor()
cur

In [27]:
cur.execute(sql_movies_10first)

In [28]:
for row in cur:
    print(row)

(5257, 'Excuse Me', 1915, 50, None, None, None, None, 767303)
(6366, 'Anton the Terrible', 1916, 50, None, None, None, None, 210352)
(8351, 'The Mysterious Mrs. Musslewhite', 1917, 50, None, None, None, None, 916665)
(8384, 'On the Level', 1917, 50, None, None, None, None, 577654)
(8642, 'The Sunset Trail', 1917, 50, None, None, None, None, 577654)
(8676, 'The Tides of Barnegat', 1917, 50, None, None, None, None, 624714)
(8981, 'The Cruise of the Make-Believes', 1918, 50, None, None, None, None, 577654)
(9124, 'Good Night, Paul', 1918, 50, None, None, None, None, 250445)
(9274, "A Lady's Name", 1918, 50, None, None, None, None, 250445)
(9403, "Mrs. Leffingwell's Boots", 1918, 50, None, None, None, None, 250445)

In [29]:
cur.close()

True

In [30]:
with conn.cursor() as cur:
    cur.execute(sql_movies_10first)
    for row in cur:
        print(row)

(5257, 'Excuse Me', 1915, 50, None, None, None, None, 767303)
(6366, 'Anton the Terrible', 1916, 50, None, None, None, None, 210352)
(8351, 'The Mysterious Mrs. Musslewhite', 1917, 50, None, None, None, None, 916665)
(8384, 'On the Level', 1917, 50, None, None, None, None, 577654)
(8642, 'The Sunset Trail', 1917, 50, None, None, None, None, 577654)
(8676, 'The Tides of Barnegat', 1917, 50, None, None, None, None, 624714)
(8981, 'The Cruise of the Make-Believes', 1918, 50, None, None, None, None, 577654)
(9124, 'Good Night, Paul', 1918, 50, None, None, None, None, 250445)
(9274, "A Lady's Name", 1918, 50, None, None, None, None, 250445)
(9403, "Mrs. Leffingwell's Boots", 1918, 50, None, None, None, None, 250445)

In [31]:
with conn.cursor() as cur:
    cur.execute(sql_movies_10first)
    movies = list(cur)
movies

[(5257, 'Excuse Me', 1915, 50, None, None, None, None, 767303),
 (6366, 'Anton the Terrible', 1916, 50, None, None, None, None, 210352),
 (8351,
  'The Mysterious Mrs. Musslewhite',
  1917,
  50,
  None,
  None,
  None,
  None,
  916665),
 (8384, 'On the Level', 1917, 50, None, None, None, None, 577654),
 (8642, 'The Sunset Trail', 1917, 50, None, None, None, None, 577654),
 (8676, 'The Tides of Barnegat', 1917, 50, None, None, None, None, 624714),
 (8981,
  'The Cruise of the Make-Believes',
  1918,
  50,
  None,
  None,
  None,
  None,
  577654),
 (9124, 'Good Night, Paul', 1918, 50, None, None, None, None, 250445),
 (9274, "A Lady's Name", 1918, 50, None, None, None, None, 250445),
 (9403, "Mrs. Leffingwell's Boots", 1918, 50, None, None, None, None, 250445)]

In [32]:
sql_movies_by_year = "SELECT * FROM movie WHERE year = 2000"

In [33]:
with conn.cursor() as cur:
    cur.execute(sql_movies_by_year)
    movies = list(cur)
movies

[(120755, 'Mission: Impossible II', 2000, 123, None, None, None, None, 247),
 (134630, 'Duets', 2000, 112, None, None, None, None, 1591),
 (134847, 'Pitch Black', 2000, 109, None, None, None, None, 878638),
 (138946, 'The Yards', 2000, 115, None, None, None, None, 336695),
 (146984,
  'The Legend of Bagger Vance',
  2000,
  126,
  None,
  None,
  None,
  None,
  602),
 (161081, 'What Lies Beneath', 2000, 130, None, None, None, None, 709),
 (162222, 'Cast Away', 2000, 143, None, None, None, None, 709),
 (163978, 'The Beach', 2000, 119, None, None, None, None, 965),
 (172495, 'Gladiator', 2000, 155, None, None, None, None, 631),
 (180073, 'Quills', 2000, 124, None, None, None, None, 442241),
 (181536, 'Finding Forrester', 2000, 136, None, None, None, None, 1814),
 (181984, 'Boiler Room', 2000, 120, None, None, None, None, 950226),
 (183523, 'Mission to Mars', 2000, 114, None, None, None, None, 361),
 (185431, 'Little Nicky', 2000, 90, None, None, None, None, 109359),
 (186566, 'Space Cowboys', 2000, 130, None, None, None, None, 142),
 (190590,
  'O Brother, Where Art Thou?',
  2000,
  107,
  None,
  None,
  None,
  None,
  1054),
 (208988, 'Get Carter', 2000, 102, None, None, None, None, 443181),
 (209144, 'Memento', 2000, 113, None, None, None, None, 634240),
 (216216, 'The 6th Day', 2000, 123, None, None, None, None, 6854),
 (219699, 'The Gift', 2000, 112, None, None, None, None, 600),
 (269743, 'Barking Dogs Never Bite', 2000, 110, None, None, None, None, 94435)]

### Unsecured queries with args
WARNING: SQL queries made with string concat or f-string can be attacked with SQL injection

In [70]:
sql_movies_by_year = "SELECT * FROM movie WHERE year = "

In [89]:
# year = 1984
year = "1984 OR 1"
# year = "1984; drop table if exists have_genre"
# year = """1984;
# SET FOREIGN_KEY_CHECKS=0;
# select concat('begin not atomic ', l,';end') 
# FROM (SELECT GROUP_CONCAT('DROP TABLE IF EXISTS `', TABLE_NAME, '`' SEPARATOR '; ') as l 
# FROM information_schema.TABLES WHERE TABLE_SCHEMA = database()) as t INTO @query;
# EXECUTE IMMEDIATE @query;
# """

In [90]:
sql = sql_movies_by_year + str(year)
sql

'SELECT * FROM movie WHERE year = 1984 OR 1'

In [78]:
with conn.cursor() as cur:
    cur.execute(sql)
    movies = list(cur)
print("Result count:", len(movies))
movies[:2]

Result count: 16

[(84750,
  'Sword of the Valiant: The Legend of Sir Gawain and the Green Knight',
  1984,
  102,
  None,
  None,
  None,
  None,
  917358),
 (86927, 'Bachelor Party', 1984, 105, None, None, None, None, 411477)]

In [55]:
sql_movies_by_title = "SELECT * FROM movie WHERE title = '{0}'"

In [91]:
# title = "Gladiator"
title = "' OR 1 OR title='"
# title = """GLADIATOR';
# SET FOREIGN_KEY_CHECKS=0;
# select concat('begin not atomic ', l,';end') 
# FROM (SELECT GROUP_CONCAT('DROP TABLE IF EXISTS `', TABLE_NAME, '`' SEPARATOR '; ') as l 
# FROM information_schema.TABLES WHERE TABLE_SCHEMA = database()) as t INTO @query;
# EXECUTE IMMEDIATE @query;
# SELECT '"""

In [92]:
sql = sql_movies_by_title.format(title)
sql

"SELECT * FROM movie WHERE title = '' OR 1 OR title=''"

In [87]:
with conn.cursor() as cur:
    cur.execute(sql)
    movies = list(cur)
print("Result count:", len(movies))
movies[:2]

Result count: 1

[(172495, 'Gladiator', 2000, 155, None, None, None, None, 631)]

In [84]:
conn.close()

## PostgreSQL

In [9]:
user = 'movie'
password = 'password'
host = 'localhost'
dbname = 'dbmovie'
port = 5432