# Recap Python

In [24]:
import re

In [1]:
list_cities = [
    "Toulouse",
    "東京",
    "Pau",
    "Tournefeuille",
    "Blagnac",
]
tuple_city = "Toulouse", "31000", 477000
dict_city = {
    "name": "Toulouse",
    "zipcode": "31000", 
    "population": 477000,
}

In [2]:
for o in list_cities, tuple_city, dict_city:
    print(o)
    print("\t- length:", len(o))
    print()

['Toulouse', '東京', 'Pau', 'Tournefeuille', 'Blagnac']
	- length: 5

('Toulouse', '31000', 477000)
	- length: 3

{'name': 'Toulouse', 'zipcode': '31000', 'population': 477000}
	- length: 3

In [3]:
list_cities[0]

'Toulouse'

In [4]:
list_cities[-1]

'Blagnac'

In [5]:
tuple_city[0]

'Toulouse'

In [6]:
# TypeError: 'tuple' object does not support item assignment
# tuple_city[2] += 1

In [7]:
list_cities.append?

Signature: list_cities.append(object, /)
Docstring: Append object to the end of the list.
Type:      builtin_function_or_method

In [8]:
list_cities.extend?

Signature: list_cities.extend(iterable, /)
Docstring: Extend list by appending elements from the iterable.
Type:      builtin_function_or_method

In [9]:
list_cities.append("Montpellier")
list_cities.extend(["Paris", "Bordeaux"])
list_cities.extend(("Lyon", "Lille"))
list_cities

['Toulouse',
 '東京',
 'Pau',
 'Tournefeuille',
 'Blagnac',
 'Montpellier',
 'Paris',
 'Bordeaux',
 'Lyon',
 'Lille']

In [10]:
for i, city in enumerate(list_cities):
    print(f"{i} - {city}")

0 - Toulouse
1 - 東京
2 - Pau
3 - Tournefeuille
4 - Blagnac
5 - Montpellier
6 - Paris
7 - Bordeaux
8 - Lyon
9 - Lille

In [11]:
for i, city in enumerate(list_cities, start=1):
    print(f"{i} - {city}")

1 - Toulouse
2 - 東京
3 - Pau
4 - Tournefeuille
5 - Blagnac
6 - Montpellier
7 - Paris
8 - Bordeaux
9 - Lyon
10 - Lille

In [12]:
list_populations = (477_000, 14_000_000, 77_000) 
for city, population in zip(list_cities, list_populations):
    print(f"{city}: {population}")

Toulouse: 477000
東京: 14000000
Pau: 77000

In [13]:
zip(list_cities, list_populations)

In [15]:
list(zip(list_cities, list_populations))

[('Toulouse', 477000), ('東京', 14000000), ('Pau', 77000)]

In [16]:
# number of characters to write all cities
sum = 0
for city in list_cities:
    sum += len(city)
sum

66

In [18]:
del sum

In [20]:
# for expression = generator
sum(len(city) for city in list_cities)

66

In [36]:
city = "Toulouse"
(
    city.startswith("T"),
    city.endswith("ma"),
    "ou" in city
)

(True, False, True)

In [25]:
re.match?

Signature: re.match(pattern, string, flags=0)
Docstring:
Try to apply the pattern at the start of the string, returning
a Match object, or None if no match was found.
File:      c:\users\matthias\anaconda3\envs\env312\lib\re\__init__.py
Type:      function

In [26]:
re.fullmatch?

Signature: re.fullmatch(pattern, string, flags=0)
Docstring:
Try to apply the pattern to all of the string, returning
a Match object, or None if no match was found.
File:      c:\users\matthias\anaconda3\envs\env312\lib\re\__init__.py
Type:      function

In [27]:
re.match(r"T.*e", city)

In [29]:
re.fullmatch(r"[a-z]+", city) is None

True

In [30]:
bool(re.fullmatch(r"[a-z]+", city))

False

In [31]:
if re.fullmatch(r"[a-z]+", city):
    print("match !")
else:
    print("no match :(")

no match :(

In [33]:
re.fullmatch(r"[a-z]+", city, flags=re.I)

In [34]:
sum(len(city) for city in list_cities if re.fullmatch(r"[a-z]+", city, flags=re.I))

64